<configuration>

    <property name="LogFormat" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n"/>

    <property name="LogLocation" value="${hypedyn.log.location}"/>

    <appender name="StdOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LogFormat}</pattern>
        </encoder>
    </appender>


    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LogLocation}/hypedyn2.log</file>

        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LogLocation}/hypedyn2-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>2</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200KB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>${LogFormat}</pattern>
        </encoder>
    </appender>

    <!-- Configure so that it outputs to both console and log file -->
    <root level="DEBUG">
        <appender-ref ref="LogFile" />
        <appender-ref ref="StdOut" />
    </root>
</configuration>
